.card-left { position:relative; float:left; margin-left:10px; }
#video_preview { height:480px; width:640px; margin-left:auto; margin-right:auto; }
#video_text { height:100px; width:400px; margin-left:auto; margin-right:auto; }
